.sidebar{
    background: #062961;
    height: 100vh;
    width: 15vw;
    color: white;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.team{
    display: flex;
    align-items: center;
}

.team p{
    margin-left: 0.5rem;
    font-size: medium;   
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.plus_icon:hover{
    cursor: pointer;
}

.created_team{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:azure;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem;
}

.selected_team{
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background-color: aliceblue;
    color: black;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0 20px 20px 0;
}